{% extends 'base.html'%}
{% load static %}
{% block title %}Skills{% endblock %}
{% block content%}

    <!-- ======= Skills Section ======= -->
   
    <section id="skills" class="skills section-bg">
        <div class="container">
  
          <div class="section-title">
            <h1>Skills</h1>
            <p>{{info.title|safe}}.</p>
          </div>
  
          <div class="row skills-content">
  
            <div class="col-lg-6" data-aos="fade-up">
              {% for sk in skills %}
              <div class="progress">
                <span class="skill">{{sk.skill}} <i class="val">{{sk.percent}}%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{sk.percent}}" aria-valuemin="0" aria-valuemax="{{sk.percent}}"></div>
                </div>
              </div>
              {% endfor %}
  
          </div>
  
        </div>
      </section><!-- End Skills Section -->
      {% endblock %}