{% extends 'base.html'%}
{% load static %}
{% block title %}Home{% endblock %}

{% block content%}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center" style="background-image: url('{{myinformations.image.url}}');">
    
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{myinformations.author.get_full_name}}</h1>
      <p>I'm <span class="typed" data-typed-items="{{myinformations.my_works}}"></span></p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="{{ myinformations.telegram }}" class="telegram"><i class="bi bi-telegram"></i></a>
        <a href="{{ myinformations.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="mailto:{{ myinformations.email }}" class="google-plus"><i class="bi bi-envelope-fill"></i></a>
        <a href="{{ myinformations.whatsapp }}" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="{{ myinformations.linkedin }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

   
  
  </main><!-- End #main -->
  
  {% endblock %}