{% extends 'base.html'%}
{% load static %}
{% block content%}

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Resume</h2>
            <h3>Hello Without introduction, I will go to the point </h3>
            <p> I've been looking for new things since I was a child  ... even now I'm looking for something new every day, from a new cafe to a new sport and  ...</p>
              
             <p> This moral of mine made me try different sports as much as I can, either in music or technical work or lessons and...
              
              Finally, I came to the computer and to the topic of programming, which makes me create something new every day by writing a new program and create this variety myself.
              
              Now, maybe I'm very weak in math or I don't know much about history and geography, but I'm a good programmer
              
              Finally, even though I can't do many things well, I have a very high level of talent in programming...</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Brandon Johnson</h4>
                <p><em></em></p>
                <ul>
                  <li>Portland par 127,Orlando, FL</li>
                  <li>(123) 456-7891</li>
                  <li>alice.barkley@example.com</li>
                </ul>
              </div>
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Software Development Engineers</h4>
                <h5>2018 - 2022</h5>
                <p><em>Islamic Azad University-South Tehran Branch</em></p>
      
              </div>
              <div class="resume-item">
                <h4>Bachelor of Electrical Engineering</h4>
                <h5>2010 - 2014</h5>
                <p><em>Enghelāb-e Eslāmi Technical College</em></p>
                <p>I’m actually not funny. I’m just really mean and people think I’m joking.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Back-End Developer</h4>
                <h5>2022 - Present </h5>
                <p><em>Freelancer</em></p>
                <ul>
                  <li>A backend developer is responsible for writing backend codes of any website and how is it going to communicate when the user will trigger any particular action. Besides, they take care of the whole wireframe of the website, its architecture, coding, scripting, and database accessibility.</li>
                  <li> Moreover, they are also responsible for debugging and testing the backend applications.</li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Second level technical ATM repair expert</h4>
                <h5>2018 - Present</h5>
                <p><em>Adonis</em></p>
                <ul>
                  <li>Hardware and software repairs of ATM machines of Mellat, Saman and Pasargad banks</li>
                  <li>Installation, testing and repairs of hardware and software. </li>
                  <li>CRS self-receiving devices and NCR, EastCom, Nixdorf WinCor ATM</li>
                </ul>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
      {% endblock %}