{% load static %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="{{ myinformations.whatsapp }}">Whatsapp</a></li>
          <li><a href="{{ myinformations.telegram }}">Telegram</a></li>
          <li><a href="{{ myinformations.instagram }}">Instagram</a></li>
          <li><a href="{{ myinformations.linkedin }}">Linkedin</a></li>
          <li><a href="mailto:{{ myinformations.email }}">Email</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>Copyright 2020 Stand Blog Co.
                
             | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>