{% load static %}
{% load compress %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Bootstrap core CSS -->
{% compress css %}
<<link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'blog/assets/css/toastr.min.css' %}" media="all">
<!-- Additional CSS Files -->
<link rel="stylesheet" href="{% static 'blog/assets/css/fontawesome.css' %} ">
<link rel="stylesheet" href="{% static 'blog/assets/css/templatemo-stand-blog.css' %} ">
<link rel="stylesheet" href="{% static 'blog/assets/css/owl.css' %} ">
{% endcompress %}
<!--% static 'blog/

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->