  {% load static %}
  <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    {% for name,count in cat_dict.items %}
                    <div class="content">
                      <ul>
                        <li><a href="">- {{ name }}  ----- {{count}} </a></li>
                     
                      </ul>
                    </div>
                    {% endfor %}
                  </div>
                </div>
