{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

  <head>

    {% include 'blog/includes/head_references.html' %}
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->


    {% include 'blog/includes/header.html' %}
    {% block content %}

			

    {%endblock%}
    
    {% include 'blog/includes/footer.html' %}
  
      {% include 'blog/includes/footer_references.html' %}
    </body>
    </html>  