{% load static %}
<footer id="footer" style="background-color: gainsboro">
    <div class="container">
      <h3>Reza Latifi</h3>
      <p>Don’t wait for extraordinary opportunities. Seize common occasions and make them great..</p>
      <div class="social-links">
        <a href="{{ myinformations.whatsapp }}"  class="whatsapp"><i class="bi bi-whatsapp"></i></a>
        <a href="{{ myinformations.telegram }}" class="telegram"><i class="bi bi-telegram"></i></a>
        <a href="{{ myinformations.instagram }}" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="mailto:{{ myinformations.email }}" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="{{ myinformations.linkedin }}"class="linkedin"><i class="bx bxl-linkedin"></i></a>
    
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
